*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
  }
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #00ADB5;
  color: #000;
  border-radius: 5%;
}

.h1Formulario{
  color: 000;
  background-color: transparent;
  margin-bottom: 2rem;
}

.formulario{

  background-color: #00ADB5;
  display: flex;
  flex-direction:column;
  gap: 2rem;
}

.formulario input{
  height: 30px;
  border-radius: 10px;
  text-align: center;
}

.formulario button{
  margin-bottom: 5px;
}
.error{
  text-transform: uppercase;
  font-weight: bold;
}